body {
    background-color: #9190ba;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "sigmar";
    color: #161e4c;
}
#inicioBtn{
    border-radius: 20px;
    color: white;
    background-color: #161e4c;
    position: absolute;
    top: 50%; 
    left: 45%;
    width: 200px; 
    height: 60px; 
    font-size: 24px;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%; 
    left: 45%;
    width: 200px; 
    height: 60px; 
    transform: scale(1.5);
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%; 
    left: 45%;
    width: 200px; 
    height: 60px; 
    font-size: 24px;
}


.no {
    margin-right: 100px;
}
@media screen and (max-width: 768px ){
    h1 {
        font-family: "sigmar";
        color: #161e4c;
        font-size: large;
 }
 #inicioBtn{
    left: 25%;
 }
 .img{
    left: 26%;
 }
 .botones{
    left: 26%;
 }
}